.login-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  padding-bottom: 10em;
}

form div{
  padding: 1em;
}

.login-button{
  display: flex;
  justify-content: space-around;
}
