<div class="activity-page">
  <div class="close-button">
    <a (click)="hideActivity()">X</a>
  </div>
  <div class="activity-content">
    <form [formGroup]="form">
      <div class="activity-info">
        <div><Label>Description: </Label><input type="text" formControlName="description"
                                                [ngModel]="activity.description"></div>
        <div><Label>Day: </Label><input type="date" [min]="this.startPeriod" [max]="this.endPeriod"
                                        [ngModel]="form.value.repeated?null:convertDate(activity.day)"
                                        formControlName="day"></div>
        <div><Label>Start Activity: </Label><input type="time" formControlName="startActivity"
                                                   [ngModel]="activity.startActivity"></div>
        <div><Label>End Activity: </Label><input type="time" [min]="form.value.startActivity"
                                                 formControlName="endActivity"
                                                 [ngModel]="activity.endActivity"></div>
        <div><Label>Open to public: </Label><input type="checkbox" [checked]="activity.openToPublic?'checked':''"
                                                   formControlName="openToPublic"></div>
        <div><Label>Repeated: </Label><input type="checkbox"
                                             [checked]="form.value.day==null?'checked':''"
                                             formControlName="repeated"></div>
        <div><Label>Schedule: </Label><select formControlName="schedule" [ngModel]="activity.schedule">
          <option *ngFor="let i of schedules" [value]="i.id">{{i.id}}</option>
        </select></div>
        <div class="staff-list">
          <div id="staffs">
            <h3>Staff</h3>
            <div class="input-entry" *ngFor="let i of staffs">
              <input type="checkbox" [value]="i" [checked]="isIncluded(i)" (change)="selectStaff(i)">
              <label>{{i.id + ' -' + i.surname + ' ' + i.name}}</label>
            </div>
          </div>
        </div>
        <div>
          <button (click)="update()" [disabled]="isDisabled()">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
