<app-activity-creator [schedules]="schedules" [staffs]="staffs"
                      (onSave)="onSaveActivity($event)"></app-activity-creator>
<table>
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Description
    </th>
    <th>
      Start Activity
    </th>
    <th>
      End Activity
    </th>
    <th>
      Open to Public
    </th>
    <th>
      Repeated
    </th>
    <th>
      Show Staff
    </th>
    <th>
      Show Schedule
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let activity of activities">
    <td>{{activity.id}}</td>
    <td>{{activity.description}}</td>
    <td>{{activity.startActivity}}</td>
    <td>{{activity.endActivity}}</td>
    <td><input disabled type="checkbox" [checked]="activity.openToPublic"></td>
    <td><input disabled type="checkbox" [checked]="activity.repeated"></td>
    <td>
      <button>Show</button>
    </td>
    <td>
      <button>Show</button>
    </td>
    <td>
      <button (click)="removeActivity(activity)">Remove</button>
    </td>

  </tr>
  </tbody>
</table>
