<div *ngIf="this.pool!=null">
  <app-pool-creator (onHide)="this.pool=null;" [pool]="this.pool" [staffs]="staffs" [sectors]="sectors"
                    (onChange)="onSavePool($event)" (onError)="this.onError.emit($event)"></app-pool-creator>
</div>
<div *ngIf="this.pool==null">
  <form *ngIf="this.authenticationService.isAdmin()" [formGroup]="form">
    <table>
      <thead>
      <tr>
        <th>Max Capacity</th>
        <th>Volume</th>
        <th>Sector</th>
        <th>Responsible</th>
        <th>Save</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th><input type="number" formControlName="maxCapacity"></th>
        <th><input type="number" formControlName="volume"></th>
        <th><select formControlName="sector">
          <option *ngFor="let i of sectors" [value]="i.id">{{i.name}}</option>
        </select></th>
        <th><select formControlName="responsible">
          <option *ngFor="let i of staffs" [value]="i.id">{{i.surname + " " + i.name}}</option>
        </select></th>
        <th>
          <button (click)="save()" [disabled]="!form.valid">Save</button>
        </th>
      </tr>
      </tbody>
    </table>
  </form>
  <form class="filters" [formGroup]="filters">
    <div>
      <label>Staff
        <select (change)="filterPools()" formControlName="responsible">
          <option value=""></option>
          <option *ngFor="let i of staffs" [value]="i.id">{{i.surname + " " + i.name}}</option>
        </select>
      </label>
    </div>
    <div>
      <label>Sector
        <select (change)="filterPools()" formControlName="sector">
          <option value=""></option>
          <option *ngFor="let i of sectors" [value]="i.name">{{i.name}}</option>
        </select>
      </label>
    </div>
    <div>
      <button (click)="resetFilters()">Reset</button>
    </div>
  </form>
  <app-pool-list [pools]="pools" (onChange)="refresh()" (onSelect)="this.pool = $event"
                 (onError)="this.onError.emit($event.error.message)"></app-pool-list>
</div>
