<div *ngIf="this.pool!=null">
  <app-pool-creator (onHide)="this.pool=null;" [pool]="this.pool" [staffs]="staffs" [sectors]="sectors"
                    (onChange)="onSavePool($event)"></app-pool-creator>
</div>
<div *ngIf="this.pool==null">
  <form [formGroup]="form">
    <table>
      <thead>
      <tr>
        <th>Max Capacity</th>
        <th>Volume</th>
        <th>Sector</th>
        <th>Responsible</th>
        <th>Save</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th><input type="number" formControlName="maxCapacity"></th>
        <th><input type="number" formControlName="volume"></th>
        <th><select formControlName="sector">
          <option *ngFor="let i of sectors" [value]="i.id">{{i.name}}</option>
        </select></th>
        <th><select formControlName="responsible">
          <option *ngFor="let i of staffs" [value]="i.id">{{i.surname + " " + i.name}}</option>
        </select></th>
        <th>
          <button (click)="save($event)" [disabled]="!form.valid">Save</button>
        </th>
      </tr>
      </tbody>
    </table>
  </form>
  <app-pool-list [pools]="pools" (onChange)="refresh(null)" (onSelect)="this.pool = $event"></app-pool-list>
</div>
