<app-schedule-creator [pools]="pools" (onSave)="onSaveSchedule($event)"></app-schedule-creator>
<table>
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Start Period
    </th>
    <th>
      End Period
    </th>
    <th>
      Pool
    </th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let schedule of schedules">
    <td>{{schedule.id}}</td>
    <td>{{schedule.startPeriod}}</td>
    <td>{{schedule.endPeriod}}</td>
    <td>{{schedule.pool.id}}</td>
    <td>
      <button>Show</button>
    </td>
    <td (click)="removeSchedule(schedule)">
      <button>Remove</button>
    </td>
  </tr>
  </tbody>
</table>
