form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.single-choice {
  flex: .2;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}
.multiple-choice {
  flex: .8;
  display: flex;
  justify-content: space-around;
  padding: 2em 1em;
  max-height: 60vh;
}

#staffs{
  border: 1px solid black;
  background: white;
  overflow-y: scroll;
  width: 100%;
  padding: 1em;
}
button {
  width: fit-content;
  align-self: center;
  margin-top: 2em;
}
