.sector-page {
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: 95%;
}

.sector-content {
  max-height: 100%;
  flex-grow: 1;
}

.close-button {
  align-self: center;
  margin-bottom: 1em;
}

.close-button:hover {
  cursor: pointer;
}

h3 {
  text-align: center;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sector-info {
  flex: .3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fish-schedule {
  display: flex;
}

.fish-schedule * {
  flex: 1;
}

#fish {
  flex: .6;
  border-right: 1px solid black;
}

#schedules {
  flex: .4;
}

#staffs {
  border: 1px solid black;
  background: white;
  overflow-y: scroll;
  width: 50%;
  padding: 1em;
}
