<app-sector-creator [staffs]="staffs" [pools]="pools" (onSave)="onSaveSector($event)"></app-sector-creator>
<table>
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Location
    </th>
    <th>
      Show Pools
    </th>
    <th>
      Show Staff
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let sector of sectors">
    <td>{{sector.id}}</td>
    <td>{{sector.name}}</td>
    <td>{{sector.location}}</td>
    <td>
      <button>Show</button>
    </td>
    <td>
      <button>Show</button>
    </td>
  </tr>
  </tbody>
</table>
