form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.single-choice {
  flex: .2;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

h3 {
  text-align: center;
}

.multiple-choice {
  flex: .8;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  max-height: 60vh;
}

.multiple-choice > div{
  border: 1px solid black;
  background: white;
  width: 35%;
  overflow-y: scroll;
}

button {
  width: fit-content;
  align-self: center;
  margin-top: 2em;
}
