<h1>Fishes</h1>
<table class="fish-table">
  <thead>
  <tr>
    <th (click)="sort(0)">
      ID{{this.field == 0 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(1)">
      Name{{this.field == 1 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(2)">
      Gender{{this.field == 2 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th>
      Distinct Sign
    </th>
    <th (click)="sort(3)">
      Arrival Date{{this.field == 3 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(4)">
      Return Date{{this.field == 4 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(5)">
      Specie{{this.field == 5 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(6)">
      Pool{{this.field == 6 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th>
      Retire
    </th>
  </tr>
  </thead>
  <tbody>
  <tr app-fish *ngFor=" let a of fishes" [fish]="a" (retireEvent)="refresh($event)"></tr>
  </tbody>
</table>
<!--<h2>Retired</h2>-->
<!--<table class="fish-table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>-->
<!--      ID-->
<!--    </th>-->
<!--    <th>-->
<!--      Name-->
<!--    </th>-->
<!--    <th>-->
<!--      Gender-->
<!--    </th>-->
<!--    <th>-->
<!--      Distinct Sign-->
<!--    </th>-->
<!--    <th>-->
<!--      Arrival Date-->
<!--    </th>-->
<!--    <th>-->
<!--      Return Date-->
<!--    </th>-->
<!--    <th>-->
<!--      Specie-->
<!--    </th>-->
<!--    <th>-->
<!--      Pool-->
<!--    </th>-->
<!--    <th>-->
<!--      Retire-->
<!--    </th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr app-fish *ngFor=" let a of retiredFishes" [fish]="a" (retireEvent)="refresh($event)"></tr>-->
<!--  </tbody>-->
<!--</table>-->
