.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 2em;
}

.fish-card {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.filter{
  padding: 1em;
}

.fish-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 10em;
  height: 100%;
}
