<div class="fish-content">
  <div class="fish-filters">
    <form [formGroup]="form">
      <label>Name
        <input type="text" formControlName="name"></label>
      <label>Distinct Sign
        <input type="text" formControlName="distinctSign"></label>
      <label>Gender
        <select formControlName="gender">
          <option [value]=""></option>
          <option *ngFor="let i of genders" [value]="i">{{i}}</option>
        </select></label>
      <label>Specie
        <select formControlName="specie">
          <option [value]=""></option>
          <option *ngFor="let i of species" [value]="i.name">{{i.name}}</option>
        </select></label>
      <label>Pool
        <select formControlName="pool">
          <option [value]=""></option>
          <option *ngFor="let i of pools" [value]="i.id">{{i.id}}</option>
        </select></label>
    </form>
    <div>
      <button (click)="refresh(); this.form.reset();">Reset</button>
    </div>
  </div>
  <div class="fish-elements">
    <app-fish-list [fishes]="fishes" [modificable]="false"></app-fish-list>
  </div>
</div>
