<table class="fish-table">
  <thead>
  <tr>
    <th (click)="sort(0)">
      ID{{this.field == 0 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(1)">
      Name{{this.field == 1 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(2)">
      Gender{{this.field == 2 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th>
      Distinct Sign
    </th>
    <th (click)="sort(3)">
      Arrival Date{{this.field == 3 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(4)">
      Return Date{{this.field == 4 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(5)">
      Specie{{this.field == 5 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th (click)="sort(6)">
      Pool{{this.field == 6 ? (this.ascendent ? "▼" : "▲") : ""}}
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let fish of fishes">
    <td>{{fish.id}}</td>
    <td>{{fish.name}}</td>
    <td>{{fish.gender.toString().toLocaleUpperCase()}}</td>
    <td>{{fish.distinctSign}}</td>
    <td>{{this.datePipe.transform(fish.arrivalDate, 'dd/MM/yyyy, HH:mm')}}</td>
    <td>{{(fish.returnDate != null) ? this.datePipe.transform(fish.returnDate, 'dd/MM/yyyy, HH:mm') : "Not yet"}}</td>
    <td>{{(fish.specie != null) ? fish.specie : "Unknown"}}</td>
    <td>{{(fish.pool != null) ? fish.pool : "Not assigned to a pool"}}</td>
    <th>
      <button (click)="selectFish(fish)">Show</button>
    </th>
    <td>
      <button [disabled]="fish.returnDate!=null" (click)="retireAnimal(fish)">Retire</button>
    </td>
    <td>
      <button (click)="removeFish(fish)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
