h1 {
  text-align: center;
}

.species-table {
  padding: 2em;
}

.species-table thead {
  width: 100%;
}

td {
  text-align: center;
}

.single-element {
  height: 100%;
}

table {
  width: 100%;
}

th * {
  width: 95%;
}

