<table>
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Start Period
    </th>
    <th>
      End Period
    </th>
    <th>
      Pool
    </th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let schedule of schedules">
    <td>{{schedule.id}}</td>
    <td>{{this.datePipe.transform(schedule.startPeriod, 'dd/MM/yyyy')}}</td>
    <td>{{this.datePipe.transform(schedule.endPeriod, 'dd/MM/yyyy')}}</td>
    <td>{{schedule.pool}}</td>
    <td>
      <button (click)="selectSchedule(schedule)">Show</button>
    </td>
    <td (click)="removeSchedule(schedule)">
      <button>Remove</button>
    </td>
  </tr>
  </tbody>
</table>
