<div class="content">
  <nav class="sidebar">
    <ul>
      <li *ngIf="this.authenticationService.isAdmin() || this.authenticationService.isManager()"
          [class]="shown=='fishes'?'selected':''"><a (click)="shown='fishes';"
                                                     routerLink="fishes"><img
        src="../../assets/fish.svg"
        width="50px"
        height="50px">Fishes</a></li>
      <li *ngIf="this.authenticationService.isAdmin() || this.authenticationService.isManager()"
          [class]="shown=='species'?'selected':''"><a (click)="shown='species';"
                                                      routerLink="species"><img
        src="../../assets/species.svg"
        width="50px"
        height="50px">Species</a></li>
      <li *ngIf="this.authenticationService.isAdmin() || this.authenticationService.isManager()"
          [class]="shown=='pools'?'selected':''"><a (click)="shown='pools';"
                                                    routerLink="pools"><img
        src="../../assets/pools.svg"
        width="50px"
        height="50px">Pools</a></li>
      <li *ngIf="this.authenticationService.isAdmin() || this.authenticationService.isManager()"
          [class]="shown=='sectors'?'selected':''"><a (click)="shown='sectors';"
                                                      routerLink="sectors"><img
        src="../../assets/sector.svg"
        width="50px"
        height="50px">Sectors</a>
      </li>
      <li *ngIf="this.authenticationService.isAdmin()" [class]="shown=='staffs'?'selected':''"><a
        (click)="shown='staffs';"
        routerLink="staffs"><img
        src="../../assets/staff.svg"
        width="50px"
        height="50px">Staff</a></li>
      <li *ngIf="this.authenticationService.isAdmin() || this.authenticationService.isManager()"
          [class]="shown=='schedules'?'selected':''"><a (click)="shown='schedules';"
                                                        routerLink="schedules"><img
        src="../../assets/schedule.svg"
        width="50px"
        height="50px">Schedules</a></li>
      <li [class]="shown=='activities'?'selected':''"><a (click)="shown='activities';"
                                                         routerLink="activities"><img
        src="../../assets/activities.svg"
        width="50px"
        height="50px">Activities</a></li>
    </ul>
  </nav>
  <div class="creator-content">
    <router-outlet (activate)="activateCompoent($event)" (deactivate)="deactivateCompoent($event)"></router-outlet>
  </div>
  <div *ngIf="error!=null" (click)="closeErrorPage()" class="error">
    <div class="error-content">
      <div class="error-info">
        <p class="info">{{error.error.message}}</p>
      </div>
    </div>
  </div>
</div>
