.pool-page {
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: 95%;
}

.pool-content {
  max-height: 100%;
  flex-grow: 1;
}

.close-button {
  align-self: center;
  margin-bottom: 1em;
}

.close-button:hover {
  cursor: pointer;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pool-info {
  flex: .3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
