<div class="pool-page">
  <div class="close-button">
    <a (click)="hidePool()">X</a>
  </div>
  <div class="pool-content">
    <form [formGroup]="form">
      <div class="pool-info">
        <div>
          <label>Max Capacity</label> <input type="number" formControlName="maxCapacity" [ngModel]="pool.maxCapacity">
        </div>
        <div>
          <label>Volume</label> <input type="number" formControlName="volume" [ngModel]="pool.volume">
        </div>
        <div>
          <label>Condition</label><select formControlName="condition" [ngModel]="pool.condition">
          <option *ngFor="let i of conditions" [value]="i">{{i}}</option>
        </select>
        </div>
        <div>
          <label>Responsible</label><select formControlName="responsible" [ngModel]="pool.responsible">
          <option *ngFor="let i of staffs" [value]="i.id">{{i.surname + " " + i.name}}</option>
        </select>
        </div>
        <div>
          <label>Sector</label><select formControlName="sector" [ngModel]="pool.sector">
          <option *ngFor="let i of sectors" [value]="i.name">{{i.name}}</option>
        </select>
        </div>
        <div>
          <button (click)="update()" [disabled]="!form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <h2 align="center">Fishes List</h2>
    <div class="fish-list">
      <app-fish-list [fishes]="fishList" (onChange)="getFishes(); onChange.emit(null)"></app-fish-list>
    </div>
  </div>
</div>
