<div class="list">
  <form class="filters" [formGroup]="filters">
    <div>
      <label>Pool
        <select formControlName="pool">
          <option value=""></option>
          <option *ngFor="let i of pools" [value]="i.id">{{i.id}}</option>
        </select>
      </label>
    </div>
    <div>
      <label>Sector
        <select formControlName="sector">
          <option value=""></option>
          <option *ngFor="let i of sectors" [value]="i.name">{{i.name}}</option>
        </select>
      </label>
    </div>
    <div>
      <label>Day
        <input type="date" formControlName="day">
      </label>
    </div>
    <div>
      <label>Start Activity
        <input type="time" formControlName="startActivity">
      </label>
    </div>
    <div>
      <label>End Activity
        <input type="time" formControlName="endActivity">
      </label>
    </div>
    <div>
      <button (click)="resetFilters()">Reset</button>
    </div>
  </form>
  <table>
    <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Day
      </th>
      <th>
        Start Activity
      </th>
      <th>
        End Activity
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let activity of activities">
      <td>{{activity.description}}</td>
      <td>{{activity.day == null ? 'repeated' : this.datePipe.transform(activity.day, 'dd/MM/yyyy')}}</td>
      <td>{{activity.startActivity}}</td>
      <td>{{activity.endActivity}}</td>
      <td>
        <button (click)="selectActivity(activity)">Show</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

