<div class="schedule-page">
  <div class="close-button">
    <a (click)="hideSchedule()">X</a>
  </div>
  <div class="schedule-content">
    <form [formGroup]="form">
      <div class="schedule-info">
        <div>
          <label>Start Period</label> <input type="date" [min]="today()" formControlName="startPeriod"
                                             [ngModel]="this.datePipe.transform(schedule.startPeriod, 'yyyy-MM-dd')">
        </div>
        <div>
          <label>End Period</label> <input type="date" [attr.disabled]="form.value.startPeriod==''?'disabled':null"
                                           [min]="form.value.startPeriod" formControlName="endPeriod"
                                           [ngModel]="this.datePipe.transform(schedule.endPeriod, 'yyyy-MM-dd')">
        </div>
        <div>
          <label>Pool</label><select formControlName="pool" [ngModel]="schedule.pool">
          <option *ngFor="let i of pools" [value]="i.id">{{i.id}}</option>
        </select>
          <div>
            <button (click)="update()" [disabled]="!form.valid">Update</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div>
    <div class="fish-schedule">
      <h3>Activity List</h3>
      <ul>
        <li *ngFor="let activity of activities">
          {{activity.id}}: {{activity.description}}
        </li>
      </ul>
    </div>
  </div>
</div>
