<td>{{fish.id}}</td>
<td>{{fish.name}}</td>
<td>{{fish.gender.toString().toLocaleUpperCase()}}</td>
<td>{{fish.distinctSign}}</td>
<td>{{this.datePipe.transform(fish.arrivalDate, 'dd/MM/yyyy, HH:mm')}}</td>
<td>{{(fish.returnDate != null) ? this.datePipe.transform(fish.returnDate, 'dd/MM/yyyy, HH:mm') : "Not yet"}}</td>
<td>{{(fish.specie != null) ? fish.specie.name : "Unknown"}}</td>
<td>{{(fish.pool != null) ? fish.pool.id : "Not assigned to a pool"}}</td>
<td>
  <button [disabled]="fish.returnDate!=null" (click)="retireAnimal()">RETIRE</button>
</td>

