<div class="specie-page">
  <div class="close-button">
    <a (click)="hideSpecie()">X</a>
  </div>
  <div class="specie-content">
    <form [formGroup]="form">
      <div class="specie-info">
        <div id="name">
          <label>Name</label> <input type="text" formControlName="name" [ngModel]="specie.name">
        </div>
        <div id="lifeSpan">
          <label>Life Span</label><input type="number" formControlName="lifeSpan" [ngModel]="specie.lifeSpan">
        </div>
        <div id="extinctionLevel">
          <label>Exctinction Level</label><select formControlName="extinctionLevel" [ngModel]="specie.extinctionLevel">
          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</option>
        </select>
        </div>
        <div id="alimentation">
          <label>Alimentations</label> <select formControlName="alimentation" [ngModel]="specie.alimentation">
          <option *ngFor="let a of alimentations" [value]="a">{{a}}</option>
        </select>
        </div>
        <div id="update">
          <button (click)="update()" [disabled]="!form.valid">Update</button>
        </div>
      </div>
      <h3 align="center">Fish List</h3>
      <app-fish-list [fishes]="fishList" (onChange)="getFishes(); this.onUpdate.emit()"></app-fish-list>
    </form>
  </div>
