<div class="fish-page">
  <div class="close-button">
    <a (click)="hideFish()">X</a>
  </div>
  <div class="fish-content">
    <form [formGroup]="form">
      <div class="fish-info">
        <div id="name">
          <label>Name</label> <input type="text" formControlName="name" [ngModel]="fish.name">
        </div>
        <div id="distinctSign">
          <label>Distinct Sign</label><input type="text" formControlName="distinctSign" [ngModel]="fish.distinctSign">
        </div>
        <div id="gender">
          <label>Gender</label><select formControlName="gender" [ngModel]="fish.gender">
          <option *ngFor="let i of genders" [value]="i">{{i}}</option>
        </select>
        </div>
        <div id="specie">
          <label>Specie</label> <select formControlName="specie" [ngModel]="fish.specie">
          <option *ngFor="let a of species" [value]="a.name">{{a.name}}</option>
        </select>
        </div>
        <div id="pool">
          <label>Pool</label> <select formControlName="pool" [ngModel]="fish.pool">
          <option *ngFor="let a of pools" [value]="a.id">{{a.id}}</option>
        </select>
        </div>
        <div id="update">
          <button (click)="update()" [disabled]="!form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
