<div *ngIf="staff==null">
  <form [formGroup]="form">
    <table>
      <thead>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>Birthday</th>
        <th>Social Security</th>
        <th>Role</th>
        <th>Save</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th><input type="text" formControlName="username"/></th>
        <th><input type="text" formControlName="password"/></th>
        <th formGroupName="profile"><input type="text" formControlName="name"></th>
        <th formGroupName="profile"><input type="text" formControlName="surname"></th>
        <th formGroupName="profile"><input type="text" formControlName="address"></th>
        <th formGroupName="profile"><input type="date" [max]="today()" formControlName="birthday"></th>
        <th formGroupName="profile"><input type="text" formControlName="socialSecurity"></th>
        <th formGroupName="profile"><select formControlName="role">
          <option *ngFor="let i of roles" [value]="i">{{i}}</option>
        </select></th>
        <th>
          <button (click)="save()" [disabled]="!form.valid">Save</button>
        </th>
      </tr>
      </tbody>
    </table>
  </form>
  <app-staff-list (onError)="this.onError.emit($event.error.message)" [staffs]="staffs" (onChange)="refresh();"
                  (onSelect)="this.staff=$event"></app-staff-list>
</div>
<div *ngIf="staff!=null">
  <app-staff-creator [staff]="this.staff" (onHide)="this.staff=null;"
                     (onChange)="refresh();" (onError)="this.onError.emit($event.error.message)"></app-staff-creator>
</div>
